/* 

Colors: 
Benjamin Moore Aegean Teal: #6f898b
Benjamin Moore Tulsa Twilight (light black): #3b3339
Benjamin Moore Winterwood (tan): #c1bfb1

Fonts: 
Logo/Bold: font-family: 'Bebas Neue', cursive;
General Text: font-family: 'Roboto', sans-serif;

*/

* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
/* Top Menu and Header */
header {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    margin: 1em;
    align-items: center;
}

header ul {
    list-style: none;
    margin: 1em;
    display: flex;
    align-items: center;
}

header ul li {
    margin: 1em;
    color: #000;
}

header ul li a {
    color: #000;
}
/* Brands */
.vertline {
    background-color: #c1bfb1;
}

.brands h2 {
    margin: 10px;
}

.brands-cards {
    margin: 10px;
    width: 285px;
    border-style: solid;
    border-width: 1px;
    border-color: #3b3339;
    box-shadow: 5px 5px 5px #3b3339;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.brands-cards-modminlifestyle {
    padding: 10px;
}
.brands-cards-modminhome {
    padding: 10px;
}
.brands-cards-grandrapidsreads {
    padding: 10px;
}
.brands-cards h3 {
    display: flex;
    justify-content: center;
}
.brands-cards img {
    max-width: 200px;
    justify-content: center;
}
.brands-cards p {
    
}

/* Services */
.services h2 {
    margin: 10px;
}

.services p {
    margin: 10px;
    max-width: 70vw;
    display: flex;
    justify-content: center;
}

/* About */

.about {

}

.about h2 {
    margin: 10px;
}

.about p {
    margin: 10px;
    max-width: 70vw;
    display: flex;
    justify-content: center;
}

/* Footer */

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3b3339;
    color: #fff;
    padding: 60px;
}

footer a {
    color: #fff;
}

.footer-left {
    align-items: center;
}

.footer-menu {
    list-style: none;
    padding: 0px;
}

.footer-socials {
    list-style: none;
    padding: 0px;
    display: flex;
    flex-direction: row;
}

.footer-socials li {
    margin: 0.5em;
}

/* Mobile Version */

@media only screen and (max-width: 620px) {
    header ul {
        display: none;
    }
}